/**
 * Pagination Style
 * @author ryan.bian
 */
@value theme: '../../styles/theme.css';
@value brand-primary from theme;

.pagination {

}
.pagination__ctrl {
  display: inline-block;
}
.pagination__ctrl--prev {}
.pagination__ctrl--next {}

.pagination__pages {
  display: inline-block;
}
.pagination__pages > li {
  display: inline-block;
}

.pagination__item {
}
.pagination__item--active {
  background-color: brand-primary;
}
.pagination__total {
  
}

.pagination__jumper {

}
.pagination__jumperField {
}

.pagination--small {

}