/**
 * Pagination Style
 * @author ryan.bian
 */
@import '../../styles/theme.css';

.grid {
  width: 34px;
  height: 34px;
  border: 1px solid var(--border-color);
}

.pagination {}
.pagination__ctrl {
  display: inline-block;
  composes: grid;
}
.pagination__ctrl--prev {}
.pagination__ctrl--next {}

.pagination__pages {
  display: inline-block;
}
.pagination__pages > li {
  display: inline-block;
}

.pagination__item {
  composes: grid;
}
.pagination__item--active {
  background-color: var(--brand-primary);
}
.pagination__total {
  
}

.pagination__jumper {

}
.pagination__jumperField {
}

.pagination--small {

}