/**
 * Alert Style
 * @author yanwei
 */
:root{
  --notification-info-bg: #E8F6FF;
  --notification-success-bg: #F5FFE9;
  --notification-error-bg: #FFEBE8;
  --notification-warning-bg: #FFFAE8;
}
.notification--box{
  position: fixed;
  z-index: 1000;
  /*top: 200px;*/
  /*left: 50%;*/
  transform:translate(-50%,0);
    pointer-events: none;
    width: 335px;
}

.notification{
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background: #fff;
    line-height: 1.5;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

}
.notification--content{
  display:inline-block;
  vertical-align: middle;
  font-size:14px;
}
.notification--icon{
    & > .notification--content{
        margin-left: 50px;
    }
}
.notification__mes{
    padding-right: 24px;
    font-size: 14px;
    color: rgba(0,0,0,.85);
    margin-bottom: 4px;
    line-height: 20px;
    display: inline-block;
}
.notification__des{
    font-size: 12px;
    color: rgba(0,0,0,.65);
}
.notification__icon{
  top: 16px;
  left: 24px;
  position: absolute;
}

.notification--close{
    position: absolute;
    right: 16px;
    top: 10px;
    color: rgba(0,0,0,.43);
    outline: none;
    text-decoration: none;
}
.notification--closex{
  
}
.notification__btn{
    
}
.notification--icon{
    display:inline-block;
    margin-right:14px;
    margin-left:1px;
    vertical-align: middle;
}


