/**
 * Input Style
 * @author yan
 */
.base{
  width: 100%;
  margin: 0;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  box-sizing: border-box;
}

.base:focus, .base:hover {
    border-color: var(--brand-primary-light);
}
.base::-moz-placeholder {
	color: #ccc;
	opacity: 1
}

.base:-ms-input-placeholder {
	color: #ccc
}

.base::-webkit-input-placeholder {
	color: #ccc
}
.disabled {
  background: #f5f5f5;
  border-color: var(--border-color);
  color: #999;
  cursor: not-allowed;
}
.normal{
  padding: 6px 7px;
  height: 28px;
}

.large{
  padding: 6px 7px;
  height: 32px;
}

.small{
  padding: 1px 7px;
  height: 22px;
}

.input__text{
  composes: base;
}

.input__textarea{
  composes: base;
  height: auto;
}

.input__card{
  composes: base;
  height: auto;
}

.input__disabled{
  composes: base;
  composes: disabled;
}

.input__large{
  composes: base;
  composes: large;
}

.input__normal{
	composes: base;
  composes: normal;
}

.input__small{
  composes: base;
  composes: small;
}

.input__prefix,
.input__suffix{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: rgba(0,0,0,.65);
    transition: all .3s;
}

.input__prefix{
  left: 7px;
}
.input__suffix{
  right: 7px;
}
.input__wrapper{
  position: relative;
  display: inline-block;
  width: 100%;
}
.input__wrapper:hover{
  & > input{
    border-color: var(--brand-primary-light);
  }

  & > .input__suffix{
    cursor: pointer;
  }
  & > .input__suffix:hover{
    color: var(--brand-primary-light);
  }
}
.input__group{
    position: relative;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    & > input{
      display: inline-block;
      float: left;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin: 0;
      padding: 0;
    }
}
.input__19{
  
}
.input__20{
  
}
.input__wrapper__suffix{
  & > input{
    padding-right: 30px;
  }
}
.input__wrapper__prefix{
  & > input{
    padding-left: 30px;
  }
}
