/**
 * Button Style
 * @author ryan.bian
 */
@import '../../styles/theme.css';

.base {
  border-style: solid;
  border-width: 1px;
  outline: 0 none;
  cursor: pointer;
}
.small {
  padding: 0 8px;
  height: 26px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
}
.normal {
  padding: 0 12px;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 32px;
}
.large {
  padding: 0 14px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 38px;
}
.primary {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  color: var(--neutral-color);
  &:hover {
    background-color: var(--brand-primary-light);
    border-color: var(--brand-primary-light);
  }
  &:active {
    background-color: var(--brand-primary-dark);
    border-color: var(--brand-primary-dark);
  }
}
.secondary {
  background-color: var(--neutral-color);
  border-color: var(--brand-primary);
  color: var(--brand-primary);
  &:hover {
    border-color: var(--brand-primary-light);
    color: var(--brand-primary-light);
  }
  &:active {
    border-color: var(--brand-primary-dark);
    color: var(--brand-primary-dark);
  }
}
.dashed {
  background-color: var(--neutral-color);
  border-color: var(--brand-primary);
  border-style: dashed;
  color: var(--brand-primary);
  &:hover {
    border-color: var(--brand-primary-light);
    color: var(--brand-primary-light);
  }
  &:active {
    border-color: var(--brand-primary-dark);
    color: var(--brand-primary-dark);
  }
}
.danger {
  background-color: var(--neutral-color);
  border-color: var(--border-color);
  color: var(--warn-color);
  &:hover {
    background-color: var(--warn-color);
    border-color: var(--warn-color);
    color: var(--neutral-color);
  }
  &:active {
    background-color: #bd3a2c;
    border-color: #bd3a2c;
    color: var(--neutral-color);
  }
}
.disabled {
  background: #f5f5f5;
  border-color: var(--border-color);
  color: #999;
  cursor: not-allowed;
}

.button--primary {
  composes: base;
  composes: primary;
}
.button--secondary {
  composes: base;
  composes: secondary;
}
.button--dashed {
  composes: base;
  composes: dashed;
}
.button--danger {
  composes: base;
  composes: danger;
}
.button--disabled {
  composes: base;
  composes: disabled;
}
.button--large {
  composes: large;
}
.button--normal {
  composes: normal;
}
.button--small {
  composes: small;
}