/**
 * Spin Style
 * @author Northerner
 */

.Spin {
    opacity: 1;
    display: inline-block;
    position: static;
    text-align: center;
}

.qui-spin-dot {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    animation: uiRotate 1.2s infinite linear;
}

.small .qui-spin-dot {
    width: 14px;
    height: 14px;
}

.large .qui-spin-dot {
    width: 32px;
    height: 32px;
}

@keyframes uiRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.qui-spin-dot i {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #108ee9;
    transform: scale(.75);
    animation: uiFade 1s infinite linear alternate;
}

.small .qui-spin-dot i {
    width: 6px;
    height: 6px;
}

.large .qui-spin-dot i {
    width: 14px;
    height: 14px;
}

.qui-spin-dot i:nth-child(1) {
    left: 0;
    top: 0;
}

.qui-spin-dot i:nth-child(2) {
    right: 0;
    top: 0;
    animation-delay: 0.4s;
}

.qui-spin-dot i:nth-child(3) {
    left: 0;
    bottom: 0;
    animation-delay: 0.8s;
}

.qui-spin-dot i:nth-child(4) {
    right: 0;
    bottom: 0;
    animation-delay: 1.2s;
}

@keyframes uiFade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.qui-spin-text {
    text-align: center;
    color: #108ee9;
}
.qui-spin-container{
    position: relative;
    transition: all 0.3s ease-in-out;
}
.qui-spin-blur{
    opacity: 0.7;
}
.qui-spin-loading-wrap{
    position: relative;
}
.qui-spin-wrap{
    position: absolute;
    z-index: 10;
    /*width: 100%;
    height: 100%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}