/**
 * Tabs Style
 * @author yan
 */

.tabs__wrap{
  position: relative;
  font-size: 14px;
  & .tabs__bar{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 16px;
    outline: none;
    & .tabs__tab{
      display: inline-block;
      height: 100%;
      margin-right: 24px;
      box-sizing: border-box;
      position: relative;
      padding: 8px 20px;
      -webkit-transition: color .3s cubic-bezier(.645,.045,.355,1);
      transition: color .3s cubic-bezier(.645,.045,.355,1);
      cursor: pointer;
      text-decoration: none;
    }
    & .tabs__tab:hover{
      cursor: pointer;
    }
    & .tabs__tab.active{
       color: #108ee9;
       border-bottom: solid 1px #108ee9;
    }
  }

  & .tabs__con{
    & .tabs__panel{
      padding: 10px;
    }

    & .tabs__panel.active {
      display: block;
    }
    & .tabs__panel.inactive {
      display: none; 
    }

  }
}

.tabs__small{
  font-size: 12px;
}

.tabs__left{
  & .tabs__bar{
        box-sizing: border-box;
        padding-left: 0;
        -webkit-transition: -webkit-transform .5s cubic-bezier(.645,.045,.355,1);
        transition: -webkit-transform .5s cubic-bezier(.645,.045,.355,1);
        transition: transform .5s cubic-bezier(.645,.045,.355,1);
        transition: transform .5s cubic-bezier(.645,.045,.355,1),-webkit-transform .5s cubic-bezier(.645,.045,.355,1);
        position: relative;
        margin: 0;
        list-style: none;
        float: left;
        border: 0;
        border-right: 1px solid #d9d9d9;

        & .tabs__tab{
              text-align: right;
              float: none;
              margin-right: 0;
              display: block;
              padding: 20px 30px;
        }
        & .tabs__tab:hover{
          cursor: pointer;
        }
        & .tabs__tab.active{
          color: #108ee9;
          border: 0;
          border-right: solid 1px #108ee9;
        }
  }
  & .tabs__con{
      padding-left: 24px;
      overflow: hidden;
      width: auto;
      margin-top: 0!important;

      & .tabs__panel{
        padding: 0;
      }

      & .tabs__panel.active {
        display: block;
      }
      & .tabs__panel.inactive {
        display: none; 
      }
  }

}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


.tabs__card {
  & .tabs__bar{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 16px;
    outline: none;
    & .tabs__tab{
          margin: 0;
          border: 1px solid #d9d9d9;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          background: #f9f9f9;
          margin-right: 2px;
          padding: 5px 16px 4px;
          -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
          transition: all .3s cubic-bezier(.645,.045,.355,1);
    }
    & .tabs__tab:hover{
      cursor: pointer;
    }
    & .tabs__tab.active{
       background: #fff;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        border-color: #d9d9d9;
        color: #108ee9;
        padding-bottom: 5px;
        border-bottom: 0;
    }
  }
}
