/**
 * QuarkUi Site Style
 * @author 
 */

@import "../src/styles/base.css";
html, body {
  height: 100%;
}

a {
  color: var(--brand-primary);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home__con {
  width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.home__box {
  text-align: center;
  margin-bottom: 70px;
  & h1 {
    height: 50px;
    font-weight: normal;
    font-size: 30px;
    color: var(--brand-primary);
    padding-bottom: 20px;
  }
  & h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
  }
  & h2 {
    font-weight: normal;
    font-size: 18px;
    color: #7a7a7a;
    margin-bottom: 5px;
  }
  & img {}
  & p {
    font-size: 14px;
    line-height: 1.5;
    color: #7f8c8d;
    /*margin-top: 26px;*/
  }
  & .bog__wrap {
    margin-bottom: 40px;
  }
  & .box__img {
    text-align: center;
    width: 16.66%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #7f8c8d;
    margin: 20px 0;
    & a {
      display: inline-block;
    }
    & a:hover {
      text-decoration: none;
      & p {
        color: var(--brand-primary);
      }
    }
    & img {
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 64px;
      background-color: #ababab;
      margin-bottom: 5px;
    }
    & i {
      margin-right: 5px;
    }
    & span {
      color: #919191;
    }
  }
  & .box__exam {
    margin: 0 -30px;
    padding: 20px 0;
    & img {
      width: 40%;
      margin: 0 30px;
      border: solid 1px #ddd;
    }
  }
}

.container {
  border-bottom: solid 1px #f1f4f9;
}

.head {
  flex: 0 0 48px;
  display: flex;
  height: 100px;
  padding: 0 50px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #fff;
}

.head__brandTitle {
  margin: 0;
  font-size: 32px;
  align-self: center;
}

.head__navigation {
  display: flex;
  flex: 1;
  margin-left: 20px;
  align-items: center;
  font-size: 14px;
  & a {
    color: var(--text-color-dark);
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  }
  & a:after {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--brand-primary);
    color: var(--brand-primary);
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
  }
  & a:hover:after {
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  &:global(.active) {
    color: var(--brand-primary);
  }
}

.footer {
  height: 98px;
  padding-top: 45px;
  text-align: center;
  background-color: #f4f4f4;
  color: #666;
}

.lineDrawing {}

.main {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  width: calc(100% - 240px);
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.aside {
  flex: 0 0 240px;
  border-right: solid 1px #f7f7f7;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 0 50px 0;
}

.aside__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aside__group {
  line-height: normal;
}

.aside__title {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  padding-left: 10px;
  color: #999;
}

.aside__nav {
  /*margin: 0;
  padding: 0;
  list-style: none;*/
}

.aside__navItem {
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  transition: all .2s ease-in-out;
  & span {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
  & a {
    padding: 14px 24px;
    display: block;
    color: var(--text-color);
  }
  & a:hover {
    text-decoration: none;
    color: var(--brand-primary);
  }
  &:global(.active) {
    color: var(--brand-primary);
  }
}

.aside__navItem:hover {
  background-color: #f7f7f7;
  color: var(--brand-primary);
}

.DocPage {
  /*padding: 20px;*/
  width: 100%;
  font-size: 16px;
  margin: 20px 50px;
}

:global(.markdown-demo) {
  padding: 0 20px 20px 20px;
  background-color: #fff;
}

:global(.markdown-code) {}

:global(.markdown-block) {
  display: block;
  color: var(--text-color);
  line-height: 1.5;
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin: 24px 0 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  & > h1 {
    padding-bottom: .3em;
    font-size: 2.5em;
    border-bottom: 1px solid #eaecef;
  }
  & > h2 {
    padding-bottom: .3em;
    font-size: 2em;
    line-height: 1.17;
    color: #333333;
  }
  & > h3 {
    margin-top: 40px;
    font-size: 1.5em;
  }
  & > h4 {
    font-size: 1em;
  }
  & > h5 {
    font-size: .875em;
  }
  & > h6 {
    font-size: .85em;
    color: #6a737d;
  }
  & > p {
    line-height: 2;
    font-size: 13px;
    color: #666666;
    margin-bottom: 20px;
  }
  & > ul, & > ol {
    padding-left: 2em;
    & li {
      list-style-type: disc;
    }
  }
  & > table {
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    background-color: #fff;
    & th {
      background: #f7f7f7;
      white-space: nowrap;
      color: #5c6b77;
      font-weight: 600;
      font-size: 16px;
    }
    & th, & td {
      border: 1px solid #e9e9e9;
      padding: 8px 16px;
      text-align: left;
    }
  }
  & code:not([class*="language"]) {
    padding: 0 .2em;
    background-color: rgba(27, 31, 35, 0.05);
    font-size: 85%;
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
  & code:not([class*="language"])::before, & code:not([class*="language"])::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}