/**
 * QuarkUi Site Style
 * @author 
 */
@import "../src/styles/base.css";
@value theme: '../src/styles/theme.css';
@value brand-primary from theme;

html, body {
  height: 100%;
}
a {
  color: brand-primary;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.head {
  flex: 0 0 48px;
  display: flex;
  line-height: 1.5;
}
.head__brandTitle {
  margin: 0;
  font-size: 32px;
}
.head__navigation {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.head__navigation a {
  margin: 0 20px;
}
.head__navigation :global(.active) {
  color: #f00;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.content {
  flex: 1;
}
.aside {
  flex: 0 0 120px;
}
.aside__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside__navItem {
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.5;
}
.aside__navItem :global(.active) {
  color: #f00;
}