/**
 * QuarkUi Site Style
 * @author 
 */
@import "../src/styles/base.css";

html, body {
  height: 100%;
}
a {
  color: var(--brand-primary);
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.head {
  flex: 0 0 48px;
  display: flex;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.head__brandTitle {
  margin: 0;
  font-size: 32px;
  align-self: center;
}
.head__navigation {
  display: flex;
  flex: 1;
  margin-left: 20px;
  align-items: center;
  font-size: 14px;
  & a {
    margin: 0 20px;
    color: var(--text-color-dark);
  }
  & :global(.active) {
    color: var(--brand-primary);
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;

  background: #fff;
  width: 90%;
  margin: 30px auto 20px;
  border-radius: 6px;

}
.content {
  flex: 1;
  padding: 0 20px;
  width: calc(100% - 120px);
  box-sizing: border-box;
}
.aside {
  flex: 0 0 240px;
  border-right: solid 1px #f7f7f7;
}
.aside__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside__navItem {
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  transition: all .2s ease-in-out;

  & a {
    display: block;
    padding: 14px 24px;
    color: var(--text-color);
  }
  & a:hover {
    text-decoration: none;
  }
  & :global(.active) {
    color: var(--brand-primary);
  }
}

.aside__navItem:hover{
    background-color: #f7f7f7;
}