:root {
  /* 品牌色 */
  --brand-primary: hsb(206, 74, 88);
  /* 品牌色——浅 */
  --brand-primary-light: hsb(206, calc(74 - 17), calc(88 + 3));
  /* 品牌色——深 */
  --brand-primary-dark: hsb(206, calc(74 + 20), calc(88 - 5));
  
  /* 边框色 */
  --border-color: #e6e6e6;

  /* 中性色 */
  --neutral-color: #fff;

  /* 标题 主要文字 */
  --text-color-dark: #333;
  /* 正文 说明 */
  --text-color: #666;
  /* 辅助 次级文字 */
  --text-color-light: #999;

  /* 链接色 */
  --link-color: hsb(206,74,88);

  /* 警告 */
  --warn-color: hsb(45,89,100);
  /* 失败 */
  --fail-color: hsb(6,86,100);
  /* 成功 */
  --success-color: hsb(89,94,75);

}
