/**
 * Progress Style
 * @author heifade
 */
.progress__line {
  position: relative;
  margin: 5px 0;
  /*padding-right: 42px;*/

  &, & *, & *:after, & *:before {
    box-sizing: border-box;
  }
  
}

.progress__showinfo {
  position: relative;
  margin: 5px 0;
  padding-right: 42px;

  &, & *, & *:after, & *:before {
    box-sizing: border-box;
  }
  
}

.progress__lineOuter {
  background-color: #ececec;
}
.progress__lineInner {
  height: 100%;
  transition: width ease-out .625s;
}
.progress__lineIndicator {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 6px;
  width: 42px;
}
.progress__line--normalSize {
  & .progress__lineOuter, & .progress__lineInner {
    height: 14px;
    border-radius: 7px;
  }
  & .progress__lineIndicator {
    line-height: 14px;
  }
}
.progress__line--miniSize {
  padding-top: 5px;
  padding-bottom: 5px;
  & .progress__lineOuter, & .progress__lineInner {
    height: 2px;
    border-radius: 1px;
  }
}
.progress__line--normal {
  & .progress__lineInner {
    position: relative;
    background-color: var(--brand-primary);
    background: linear-gradient(45deg, var(--brand-primary), var(--brand-primary-dark));
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: inherit;
      animation: progress-animation 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
    }
  }
  & .progress__lineIndicator {
    color: var(--text-color);
  }
}
.progress__line--success {
  & .progress__lineInner {
    background-color: var(--success-color);
  }
  & svg {
    color: var(--success-color);
  }
}
.progress__line--exception {
  & .progress__lineInner {
    background-color: var(--fail-color);
  }
  & svg {
    color: var(--fail-color);
  }
}
.progress__line--pause {
  & .progress__lineInner {
    visibility: hidden;
  }
  & svg {
    color: #bcbcbc;
  }
}

@keyframes progress-animation {
  0% {
    opacity: .1;
    width: 0%;
  }
  20% {
    opacity: .5;
    width: 0;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}