/**
 * Breadcrumb Style
 * @author grootfish
 */

.breadcrumb {
  font-size: 14px;
  &>span {
    color: var(--text-color-light);
  }
  &>span:last-child {
    color: var(--text-color-dark);
  }
  &>span:last-child .breadcrumb--separator {
    display: none;
  }
  & a.breadcrumb--link {
    color: var(--text-color-light);
  }
  & a.breadcrumb--link:hover {
    color: var(--brand-primary);
    text-decoration: none;
  }
  & a.breadcrumb--link:avtive {
    color: var(--brand-primary-dark);
  }
}

.breadcrumb--icon span {
  color: #fff;
  border-radius: 2px;
  background-color: var(--brand-primary);
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 6px;
  vertical-align: text-top;
  & svg {
    transform: scale(0.75);
  }
}
.breadcrumb--icon span:hover {
  cursor: pointer;
  background-color: var(--brand-primary-light);
  color: #fff;
}
.breadcrumb--icon span:active {
  background-color: var(--brand-primary-dark);
}

.breadcrumb--separator {
  margin: 0 5px;
}
