/**
 * Breadcrumb Style
 * @author grootfish
 */

@import '../../styles/theme.css';

.breadcrumb {}

.breadcrumb--link {}

.breadcrumb--separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, .4);
}

.breadcrumb>span:last-child .breadcrumb--separator {
    display: none;
}
