/**
 * Breadcrumb Style
 * @author grootfish
 */

@import '../../styles/theme.css';

.breadcrumb {
    font-size:14px;
    &>span{
        color:var(--text-color-light);
        &:last-child{
            color:var(--text-color-dark);
        }
        &:last-child .breadcrumb--separator{
            display: none;
        }
    }
  
    & a.breadcrumb--link{
        color:var(--text-color-light);
        &:hover{
            color:var(--brand-primary);
            text-decoration: none;
        }
    }
}

.breadcrumb--icon span{
    color:var(--brand-primary);
    border-radius: 2px;
    border:1px solid var(--brand-primary);
    width:16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    float:left;
    display: block;
    margin-right:6px;
    &:hover{
        cursor: pointer;
        background-color: var(--brand-primary);
        color:#fff;
    }
}
.breadcrumb--separator {
    margin: 0 5px;
}


