/**
 * Modal Style
 * @author ryan.bian
 */
@import '../../styles/theme.css';

.mask {
  display: none;
}
.mask--visible {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)!important;
}
.modal {
  display: none;
}
.modal--visible {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border: 1px solid border-color;
  transform: translateY(-50%);
}
.modal__header {
  position: relative;
  height: 40px;
}
.modal__closable {
  position: absolute;
  right: 0;
  top: 0;
}
.modal__footer {}