.tPlnPEk:active {
    background-color: #bd3a2c;
    border-color: #bd3a2c;
    color: #fff;
}
._35mc8WS:active {
    border-color: rgb(13, 125, 212);
    color: rgb(13, 125, 212);
}
._3S37_fc:active {
    border-color: rgb(13, 125, 212);
    color: rgb(13, 125, 212);
}
._19BpMwo:active {
    background-color: rgb(13, 125, 212);
    border-color: rgb(13, 125, 212);
}/**
 * Button Style
 * @author ryan.bian
 */
.XY-M_dO {
  border-style: solid;
  border-width: 1px;
  outline: 0 none;
  cursor: pointer;
}
.fROe7ML {
  padding: 0 8px;
  height: 26px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
}
._8FQcytX {
  padding: 0 12px;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 32px;
}
._32FHQJI {
  padding: 0 14px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 38px;
}
._19BpMwo {
  background-color: rgb(58, 152, 224);
  border-color: rgb(58, 152, 224);
  color: #fff
}
._19BpMwo:hover {
    background-color: rgb(100, 175, 232);
    border-color: rgb(100, 175, 232);
}
._3S37_fc {
  background-color: #fff;
  border-color: rgb(58, 152, 224);
  color: rgb(58, 152, 224)
}
._3S37_fc:hover {
    border-color: rgb(100, 175, 232);
    color: rgb(100, 175, 232);
}
._35mc8WS {
  background-color: #fff;
  border-color: rgb(58, 152, 224);
  border-style: dashed;
  color: rgb(58, 152, 224)
}
._35mc8WS:hover {
    border-color: rgb(100, 175, 232);
    color: rgb(100, 175, 232);
}
.tPlnPEk {
  background-color: #fff;
  border-color: #e6e6e6;
  color: rgb(255, 58, 36)
}
.tPlnPEk:hover {
    background-color: rgb(255, 58, 36);
    border-color: rgb(255, 58, 36);
    color: #fff;
}
._1h6x5iR {
  background: #f5f5f5;
  border-color: #e6e6e6;
  color: #999;
  cursor: not-allowed;
}

._3hh9tei {
}
.vXJ9qrz {
}
.BNj9gmv {
}
._3x-do99 {
}
._1CK7wLL {
}
.yw7Pd8L {
}
.rZQNI_c {
}
._1duqZjn {
}
/**
 * Icon Style
 * @author ryan.bian
 */
._1SVdsde {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/**
 * Radio Style
 * @author grootfish
 */

._1qLgsZN{}
.VjLokFF .dZz2aKo {
    min-height: 72px;
    overflow: hidden;
    display: block;
}

.VjLokFF .emy5r36 {
    float: left;
}

.VjLokFF .ecPtJpH {
    padding-bottom: 12px;
}

.VjLokFF ._1gbd7tY {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px;
}

.VjLokFF ._1gbd7tY>i {
      height: 100%;
    width: 1px;
}

._1-rom2b ._1gbd7tY>i:after {
    width: 100%;
    background: rgb(58, 152, 224);
    transition: all .6s;
    opacity: 1;
    box-shadow: 0 0 0 0 rgb(58, 152, 224);
}

._1-rom2b .BylYoDj {
    border-color: rgb(58, 152, 224);
    background-color: #fff;
}

._1-rom2b .BylYoDj>.nY84V-C {
    color: rgb(58, 152, 224);
}

._1-rom2b .ecPtJpH {
    color: #666;
}

._14-y2ob .BylYoDj {
          border-color: rgb(58, 152, 224);
    background-color: rgb(58, 152, 224);
}

._14-y2ob .BylYoDj>.nY84V-C {
      color:#fff;
}

._14-y2ob .ecPtJpH {
    color: #333;
}

.-gThN4N .BylYoDj {
    border-color: #CECECE;
      background-color: #fff;
}

.-gThN4N .BylYoDj>.nY84V-C {
        color: #CECECE;
}

.-gThN4N .ecPtJpH {
    color: #CECECE;
}/**
 * Steps Style
 * @author grootfish
 */

._2FotuLn {
  width: 100%;
  line-height: 1.5;
}

._3kw29fb {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

._3kw29fb:last-child ._1gbd7tY {
  display: none;
}

.ILP3t70:not(:first-child) .emy5r36 {
  padding-left: 10px;
  margin-left: -10px;
}
._1gbd7tY {
  position: absolute;
  left: 0;
  width: 100%;
  top: 13px
}
._1gbd7tY>i {
    display: inline-block;
    vertical-align: top;
    background: #e9e9e9;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative;
}
._1gbd7tY>i:after {
      position: absolute;
      content: "";
      top: 0;
      width: 0;
      background: #e9e9e9;
      height: 100%;
      opacity: 0;
}


.emy5r36 {
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.BylYoDj {
  display: block;
  border: 1px solid #CECECE;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  font-size: 14px;
  margin-right: 8px;
}

.nY84V-C {
  line-height: 1;
  color: rgb(58, 152, 224);
  position: relative;
}

._2b8KAtX {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  background-color: #fff;
  display: inline-block;
  padding-right: 10px;
}

.ecPtJpH {
  font-size: 12px;
  color: #333;
}

.dZz2aKo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5px;
}

/*未开始状态样式*/
.-gThN4N{
}
.-gThN4N ._2b8KAtX {
    color: #CECECE;
} 

/*进行中状态样式*/
._14-y2ob{
}
._14-y2ob ._2b8KAtX {
    color: #333;
}

/*完成状态样式*/
._1-rom2b {

}
._1-rom2b ._2b8KAtX {
    color: #666;
}


/*TODO*/
._1Q6bhQx {}
._2_Lo66c {}

/*竖向步骤条样式*/
.VjLokFF{
}
.VjLokFF ._3kw29fb {
    display: block;
}

._2u75xAY:hover > ._14u77OZ:hover{
    color: rgb(100, 175, 232);
}
._2u75xAY:hover > ._14u77OZ{
    /*cursor: pointer;*/
}
._2u75xAY:hover > .fsGOz5E:hover{
    color: rgb(100, 175, 232);
}
._2u75xAY:hover > .fsGOz5E{
    cursor: pointer;
}/**
 * Input Style
 * @author yan
 */
._9JV29oH{
  width: 100%;
  margin: 0;
  height: 28px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  transition: all .3s;
  box-sizing: border-box;
}

._9JV29oH:focus, ._9JV29oH:hover {
    border-color: rgb(100, 175, 232);
}
._9JV29oH::-moz-placeholder {
	color: #bcbcbc;
	opacity: 1
}

._9JV29oH:-ms-input-placeholder {
	color: #bcbcbc
}

._9JV29oH::-webkit-input-placeholder {
	color: #bcbcbc
}
._2ZsC2cH {
  background: #f5f5f5;
  border-color: #e6e6e6;
  color: #999;
  cursor: not-allowed;
}
._3D0U8St{
  padding: 6px 7px;
  height: 34px;
}

._2viFZsQ{
  padding: 6px 7px;
  height: 40px;
}

._2oRsOmU{
  padding: 1px 7px;
  height: 26px;
}

.ojGVu_O{
}

._20hPALr{
  height: auto;
}

._10Fp69o{
  height: auto;
}

._2WZRwLL{
}

._2a5mJn1{
}

._3IUawJl{
}

.HKnrTVR{
}

._14u77OZ,
.fsGOz5E{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color:#666;
    transition: all .3s;
}

._14u77OZ{
  left: 7px;
}
.fsGOz5E{
  right: 7px;
}
._2u75xAY{
  position: relative;
  display: inline-block;
  width: 100%;
}
._2u75xAY:hover{

}
._2u75xAY:hover > input{
    border-color: rgb(100, 175, 232);
}
._2HoVPHk{
    position: relative;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%
}
._2HoVPHk > input{
      display: inline-block;
      float: left;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin: 0;
      padding: 0;
}
._1X0_ffc{
  
}
._3lINFLC{
  
}
._1jjWEyS{
}
._1jjWEyS > input{
    padding-right: 30px;
}
._1-pWIab{
}
._1-pWIab > input{
    padding-left: 30px;
}

._1ZnnzI0 ._2SnHV3p {
    margin: 0 3px;
    width: 58px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    line-height: 24px;
    text-align: center;
    color: #666;
}
._1ZnnzI0 .oOz1cQZ {
    margin-left: 10px;
}
._1ZnnzI0 ._3LLS65e:hover {
    border-color: rgb(58, 152, 224);
}
._1ZnnzI0 ._3LLS65e {
    margin-left: 10px;
    height: 26px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #666;
    vertical-align: top;
}
._1ZnnzI0 ._1XE-Hg- {
    margin-right: 10px;
}
._1ZnnzI0 ._2C7Zm2z:hover {
    color: #fff;
}
._1ZnnzI0 ._2C7Zm2z {
    background-color: rgb(58, 152, 224);
    border-color: rgb(58, 152, 224);
    color: #fff;
}
._1ZnnzI0 ._2m8FUXc > li {
    margin: 0 1px;
}
._1ZnnzI0 ._1twWhn_, ._1ZnnzI0 ._2Pmoq26 {
    margin: 0 4px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 0 none;
    color: #666;
}
._1ZnnzI0 ._1twWhn_:hover, ._1ZnnzI0 ._2Pmoq26:hover {
      color: rgb(58, 152, 224);
}
._18z_kgq ._2SnHV3p {
    margin: 0 3px;
    width: 58px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    line-height: 32px;
    text-align: center;
    color: #666;
}
._18z_kgq .oOz1cQZ {
    margin-left: 17px;
}
._18z_kgq ._3LLS65e:hover {
    border-color: rgb(58, 152, 224);
}
._18z_kgq ._3LLS65e {
    margin-left: 17px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #666;
    vertical-align: top;
}
._18z_kgq ._1XE-Hg- {
    margin-right: 17px;
}
._18z_kgq ._2C7Zm2z:hover {
    color: #fff;
}
._18z_kgq ._2C7Zm2z {
    background-color: rgb(58, 152, 224);
    border-color: rgb(58, 152, 224);
    color: #fff;
}
._18z_kgq ._2m8FUXc > li {
    margin: 0 1px;
}
._18z_kgq ._1twWhn_, ._18z_kgq ._2Pmoq26 {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #666;
}
._18z_kgq ._1twWhn_:hover, ._18z_kgq ._2Pmoq26:hover {
      border-color: rgb(58, 152, 224);
      color: rgb(58, 152, 224);
}/**
 * Pagination Style
 * @author ryan.bian
 */
._1N6FDDZ {
  font-size: 14px;
  color: #666;
}
._1twWhn_ {
  display: inline-block;
}
._2m8FUXc {
  display: inline-block;
}
._2m8FUXc > li {
  display: inline-block;
}
._1XE-Hg- {
  display: inline-block;
}
._2SnHV3p {
  border-radius: 3px;
}
._18z_kgq {
}
._18z_kgq ._1twWhn_ {
    margin: 0 1px;
}

._1ZnnzI0 {
}

._1ZnnzI0 ._1twWhn_ {
}

._1ZnnzI0 ._1twWhn_ > svg {
      -webkit-transform: scale(.8);
              transform: scale(.8);
}
._3Z71jK-._1awgFlM ._3VOgEW7 {
      border-color: #d9d9d9!important;
      background-color: #f7f7f7;
      &:after {
        background-color: #ccc;
      }
}
._3Z71jK-._1awgFlM input {
      cursor: not-allowed;
}
._1IGza-- ._3i-tJCB {
}
._1IGza--._1FOEULE {
}
._1IGza--._2JniI09 {
}
.nfos_Ty._3rxRSzb {
    cursor: not-allowed;
    border-color: #d9d9d9;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, .25);
}
.nfos_Ty._3rxRSzb._355nMJd {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #d9d9d9;
      box-shadow: none;
}
.nfos_Ty._355nMJd {
    background: #fff;
    border-color: rgb(58, 152, 224);
    background-color: rgb(58, 152, 224);
    color: #fff;
    box-shadow: -1px 0 0 0 rgb(58, 152, 224);
}
.nfos_Ty._355nMJd:first-child {
      border-color: rgb(58, 152, 224);
      box-shadow: none!important;
}
.nfos_Ty:last-child {
    border-radius: 0 4px 4px 0;
}
.nfos_Ty:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #d9d9d9;
}
._3p-6eXk._1ELHA9H {
}
._3Z71jK-._1awgFlM {
}
._3Z71jK-._1awgFlM+span {
      color: rgba(0, 0, 0, .25);
      cursor: not-allowed;
}
._3Z71jK-._2nr1n6r {
}
._3Z71jK-._2nr1n6r ._3VOgEW7 {
      border-color: rgb(58, 152, 224);
}
._3Z71jK-._2nr1n6r ._3VOgEW7:after {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        transition: all .3s cubic-bezier(.78, .14, .15, .86);
}
._3Z71jK- ._3VOgEW7 {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    transition: all .3s;
}
._3Z71jK- ._3VOgEW7:after {
      position: absolute;
      width: 8px;
      height: 8px;
      left: 3px;
      top: 3px;
      border-radius: 4px;
      display: table;
      border-top: 0;
      border-left: 0;
      content: " ";
      background-color: rgb(58, 152, 224);
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      transition: all .3s cubic-bezier(.78, .14, .15, .86);
}
._3Z71jK- input {
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
._7BdcWtH ._2lprs2R {
    background-color: #f5f5f5;
    border-color: #e6e6e6;
}
._7BdcWtH ._2lprs2R:after {
      -webkit-animation-name: uGW3niq;
      animation-name: uGW3niq;
      border-color: rgba(0, 0, 0, .25);
}
._7BdcWtH input {
    cursor: not-allowed;
}
._1ZdYMvB input {
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
._27A3N9u._1GJbWCN {
}/**
 * Checkbox Style
 * @author grootfish
 */

._27A3N9u {
  cursor: pointer;
  font-size: 14px;
  display: inline-block
}

._27A3N9u._1WXUzeA {
}

._1ZdYMvB {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: text-bottom
}

._1ZdYMvB+span {
    padding-left: 8px;
    padding-right: 8px;
}

._2puP2yc {
}

._2puP2yc ._2lprs2R {
    background-color: rgb(58, 152, 224);
    border-color: rgb(58, 152, 224);
}

._2puP2yc ._2lprs2R:after {
      -webkit-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 4px;
      height: 8px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: " ";
      transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}

._7BdcWtH {
}

._7BdcWtH+span {
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

._2lprs2R {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fff;
  transition: all .3s
}

._2lprs2R:after {
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 4px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: " ";
    transition: all .1s cubic-bezier(.71, -.46, .88, .6);
}

._1_ORgon {
  display: inline-block;
  font-size: 12px;
}


._3Z71jK- {
  outline: none;
  line-height: 1;
  vertical-align: text-bottom;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  cursor: pointer
}


._3Z71jK-+span {
    padding-left: 8px;
    padding-right: 8px;
}

._3p-6eXk {
  font-size: 12px;
  margin-right: 8px
}

._3p-6eXk._3nQoM8g {
}

.nfos_Ty {
  margin: 0;
  height: 28px;
  line-height: 26px;
  color: rgba(0, 0, 0, .65);
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-left: 0;
  background: #fff;
  padding: 0 16px
}

.nfos_Ty:hover {
    color: rgb(58, 152, 224);
}

._1IGza-- {
  margin-left: 0;
  display: block;
  width: 0;
  height: 0
}

._1IGza-- input {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
}
/**
 * Progress Style
 * @author heifade
 */
._1wmp6rQ {
    display: inline-block
}
._1wmp6rQ, ._1wmp6rQ *, ._1wmp6rQ *:after, ._1wmp6rQ *:before {
        box-sizing: border-box
}

._3X85yhI{
    /*margin-right: 8px;*/
    /*margin-bottom: 8px;*/
    width: 100%;
    font-size: 12px;
    position: relative;
}

._1UPEYoF{
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    box-sizing: border-box;
}

._1RDGF7L{
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 100px;
    vertical-align: middle;
}
._2Jb9pRa{
    border-radius: 100px;
    background-color: #108ee9;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
    position: relative;
}

.TJk4cYl ._1UPEYoF{
    padding-right: 45px;
    margin-right: -45px;
}

._15YVWKW {
    width: 35px;
    text-align: left;
    font-size: 1em;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

._2Y2k2_P ._2Jb9pRa:before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
    -webkit-animation: _196xXst 2.4s cubic-bezier(.23,1,.32,1) infinite;
            animation: _196xXst 2.4s cubic-bezier(.23,1,.32,1) infinite;
}
._3hCXhQ2 ._2Jb9pRa {
    background-color: #f04134;
}

._2gCNSXU ._2Jb9pRa:before {
    
}
._3hCXhQ2 ._2Jb9pRa:before {
    
}
._3V1FpTT ._2Jb9pRa:before {
    
}

@-webkit-keyframes _196xXst {
  0% {
    opacity: 0.1;
    width: 0;
  }
  20% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes _196xXst {
  0% {
    opacity: 0.1;
    width: 0;
  }
  20% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
/**
 * Modal Style
 * @author ryan.bian
 */
.DCMRwkz {
  display: none;
}
._1iw3_Tl {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)!important;
}
._2N4dO9C {
  display: none;
}
._23S10Ht {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border: 1px solid border-color;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

._2Fxr3he {
  position: relative;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  text-align: left;
}
._2Fxr3he p{
  display: inline-block;
}
._2Fxr3he>p>span{
  padding-left: 10px;
  vertical-align: 3px;
}
._2RrFae2 {
  position: absolute;
  right: 15px;
  color: #a6a6a6;
}
._2RrFae2:hover{
  text-decoration: none;
}
._1OTqLj0 {
  margin: 16px 16px;
  text-align: right;
}
._1OTqLj0 button{
  /*width: 80px;*/
  margin-left: 16px;
}
._1HLRvee{
  width: 370px;
  padding: 0px 20px;
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 40px;
}
._2WWVJx6{
  margin-bottom: 20px;
}
._1d08GAd ._1HLRvee{}
._2szRBFq ._1HLRvee{}
._2q46cNH ._1HLRvee{}
._2I8e3TN ._1HLRvee{}
._3Fd6MFq .usQApcf,
  ._3Fd6MFq .yxYQyCS,
  ._3Fd6MFq ._1T01tnX {
    width: 92px;
    height: 65px;
}
._3Fd6MFq ._1Kv7vbL,
  ._3Fd6MFq .NXA9QEE,
  ._3Fd6MFq ._3Rl4xcV,
  ._3Fd6MFq ._12GufgY {
    width: 306px;
    height: 327px;
}
.xR5XMj2:active {
    background-color: #fff;
    color: #999;
    border-color: #e6e6e6;
}
.ITqSGzR:active {
    background-color: rgb(13, 125, 212);
    color: #fff;
    border-color: rgb(58, 152, 224);
}/**
 * DatePicker Style
 * @author ryan.bian
 */
._1UGPffb {}

/* picker*/
.Kr6IA6k {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

/* date pane */
._2nmG2SK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
._1SC-ZeX {
  background-color: #fff;
  border: 0 none;
  color: rgb(58, 152, 224)
}
._1SC-ZeX:hover {
    color: rgb(13, 125, 212);
}
._2hTd7Ee {
  display: inline-block;
  width: 180px;
}
._2q0K25O {
  margin: 0 5px;
  background-color: #fff;
  border: 0 none;
  font-size: 16px
}
._2q0K25O:hover {
    color: rgb(13, 125, 212);
}
._2kDVWX- {
  text-align: center;
}
._1kBMgWS {
}
.ITqSGzR {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  cursor: pointer;
  color: #333
}
.ITqSGzR:hover {
    background-color: rgb(194, 228, 255);
    color: #fff;
    border-color: rgb(133, 192, 237);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
._1Kv7vbL {
  width: 306px;
}
._42hYwIN {
}

._1jhPnIx {
}
._18TCX0Q {
  display: inline-block;
  width: 39px;
  color: #999;
  line-height: 3;
}
._2uOZGpF {
  margin-bottom: -1px
}
._2uOZGpF:last-child {
    margin-bottom: 0;
}
._1hc4MT1 {
  margin-left: -1px;
  width: 40px;
  height: 40px;
  line-height: 40px
}
._1hc4MT1:first-child {
    margin-left: 0;
}
.tg8LV6m {
  background-color: rgb(194, 228, 255);
  color: rgb(58, 152, 224);
  border-color: rgb(133, 192, 237);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.BhAcx0T {
  background-color: rgb(58, 152, 224);
  border-color: rgb(58, 152, 224);
  color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.xR5XMj2 {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through
}
.xR5XMj2:hover {
    background-color: #fff;
    color: #999;
    border-color: #e6e6e6;
    -webkit-transform: none;
            transform: none;
}
._3Ai-tVG {
}
._1v-JQZp, ._1TZh7SB {
  color: #999;
}

/* monthPane */
.NXA9QEE {
  width: 246px;
}
._1cNVmpw {
}
.tzaigjQ {
  margin-top: 12px;
}
.usQApcf {
  margin-left: -1px;
  margin-bottom: -1px;
  width: 72px;
  height: 40px
}
.usQApcf:nth-child(3n + 1) {
    margin-left: 0;
}
._35ETxl9 {
}

/* yearPane */
._3Rl4xcV {
  width: 246px;
}
._1V11OTv {
}
.lyPvcSp {
  margin-top: 12px;
}
.yxYQyCS {
  margin-left: -1px;
  margin-bottom: -1px;
  width: 72px;
  height: 40px
}
.yxYQyCS:nth-child(3n + 1) {
    margin-left: 0;
}
._3gwubRm {
}
._3ymOIUL {
  color: #999;
}

/* decadePane */
._12GufgY {
  width: 306px;
}
.z2qL9Et {
}
._3S12eZ0 {
  font-size: 16px;
}
._2vB_hOO {
  margin-top: 12px;
}
._1T01tnX {
  margin-left: -1px;
  margin-bottom: -1px;
  width: 92px;
  height: 40px
}
._1T01tnX:nth-child(3n + 1) {
    margin-left: 0;
}
._1TCp4mq {
  color: #999;
}
._2HYyBfW {
}

/* rangePicker */
._3Fd6MFq {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  white-space: nowrap
}
._3Fd6MFq .Kr6IA6k {
    display: inline-block;
    vertical-align: top;
    box-shadow: none;
}
._3vZujhj {
  border-right: 0 none;
  border-radius: 3px 0 0 3px;
}
._3v3AUtq {
  border-left: 0 none;
  border-radius: 0 3px 3px 0;
}
._15DqQC7 a._2knYGjk:avtive {
      color: rgb(13, 125, 212)
}

.lGcMH25 span:active {
    background-color: rgb(13, 125, 212)
}

.lGcMH25 span:hover {
    cursor: pointer;
    background-color: rgb(100, 175, 232);
    color: #fff
}

._15DqQC7>span:last-child ._24xT_Vo {
      display: none
}

._15DqQC7 a._2knYGjk {
    color: #999
}

._15DqQC7 a._2knYGjk:hover {
      color: rgb(58, 152, 224);
      text-decoration: none
}/**
 * Breadcrumb Style
 * @author grootfish
 */

._15DqQC7 {
  font-size: 14px
}

._15DqQC7>span {
    color: #999
}

._15DqQC7>span:last-child {
      color: #333
}

.lGcMH25 span {
  color: #fff;
  border-radius: 2px;
  background-color: rgb(58, 152, 224);
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 6px;
  vertical-align: text-top
}

.lGcMH25 span svg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75)
}

._24xT_Vo {
  margin: 0 5px;
}
/**
 * Trigger Style
 * @author ryan.bian
 */
._2EXkxum {

}
.RJgC0pN {
  display: inline-block;
}
._1xfqu0A {
  position: absolute;
}
._1GB2-JB._3EUMm8_ ._2nQsLw9 {
        top:10px
}
._1GB2-JB._2A8aaYy {
    padding: 16px 48px 16px 24px
}
._1GB2-JB._2A8aaYy ._1xsSoXb {
      margin-left:0
}/**
 * Alert Style
 * @author grootfish
 */
._1GB2-JB {
  position: relative;
  padding: 16px 48px 16px 50px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .65);
  line-height: 18px;
  margin-bottom: 10px
}
._1GB2-JB._3EUMm8_ {}
._1GB2-JB._3EUMm8_ ._3pVZZaC {
      font-size:18px;
      margin-bottom:14px
}

._3pVZZaC {
  display: block;
  font-size:14px;
}

._1xsSoXb {
  display: block;
  font-size: 14px;
  margin-left:-24px;
}
._1Xuh7Xb{
  top: 16px;
  left: 24px;
  position: absolute;
}
._2nQsLw9 {
  font-size: 12px;
  position: absolute;
  right: 16px;
  top: 18px;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  cursor: pointer;
  color:#999
}
._2nQsLw9:hover {
    color:#666
}

._26sdxhi {
  background-color: #E8F6FF;
  color:rgb(58, 152, 224);
  border:1px solid rgb(58, 152, 224);
}

._1CwPGBp {
  background-color: #F5FFE9;
  color:rgb(104, 191, 11);
  border:1px solid rgb(104, 191, 11);
}

._3QhKkZ8 {
  background-color: #FFEBE8;
  color:rgb(255, 58, 36);
  border:1px solid rgb(255, 58, 36);
}

._3BUd41- {
  background-color: #FFFAE8;
  color:rgb(255, 198, 28);
  border:1px solid rgb(255, 198, 28);
}
/**
 * Message Style
 * @author grootfish
 */

.Tp7nM0V {
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 50%;
    -webkit-transform:translate(-50%,0);
            transform:translate(-50%,0);
    pointer-events: none;
}

.TML-oze {
    padding: 7px 24px 7px 10px;
    border-radius: 3px 3px;
    box-shadow: 0 0 10px #999;
    border: 1px solid #999;
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    display: block;
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;
}
._3bIMIt4{
    display:inline-block;
        vertical-align: middle;
        font-size:14px;
}
._2nJiJW2{
    display:inline-block;
    margin-right:7px;
    margin-left:1px;
    vertical-align: middle;
}
._24nf85a{
    color:rgb(58, 152, 224);
    background-color:#E8F6FF;
    box-shadow: 0 0 1px rgb(58, 152, 224);
}
._31au0Cv{
    color:rgb(104, 191, 11);
    background-color:#F5FFE9;
    box-shadow: 0 0 1px rgb(104, 191, 11);
}
._34GJGIf{
    color:rgb(255, 58, 36);
    background-color:#FFEBE8;
    box-shadow: 0 0 1px rgb(255, 58, 36);
}
._2oCKBQV{
    color:rgb(255, 198, 28);
    background-color:#FFFAE8;
    box-shadow: 0 0 1px rgb(255, 198, 28);
}

._1eceZej > div {
    display: inline-block;
    margin-left: -1px;
}
._1eceZej > div button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}
.-dJrDFX > a {
    color: #333;
}
.-dJrDFX > a:hover {
      text-decoration: none;
}/**
 * Dropdown Style
 * @author ryan.bian
 */
.zOFn225 {

}
._1xylRH- {
  background: #fff;
  border-color: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .13);
  overflow: hidden;
}
.-dJrDFX {
  padding: 0 19px;
  height: 39px;
  line-height: 39px;
  cursor: pointer
}
.-dJrDFX:hover {
    background-color: #e6e6e6;
}
.-dJrDFX:hover > a {
      color: rgb(58, 152, 224);
}
._1eceZej {
}
._1eceZej > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/**
 * Spin Style
 * @author Northerner
 */

._1euEuAz {
    opacity: 1;
    display: inline-block;
    position: static;
    text-align: center;
}

.GdLF9TD {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-animation: OJNp0rd 1.2s infinite linear;
            animation: OJNp0rd 1.2s infinite linear;
}

._4DCoius .GdLF9TD {
    width: 14px;
    height: 14px;
}

._27g6-bg .GdLF9TD {
    width: 32px;
    height: 32px;
}

@-webkit-keyframes OJNp0rd {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes OJNp0rd {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.GdLF9TD i {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: rgb(58, 152, 224);
    -webkit-transform: scale(.75);
            transform: scale(.75);
    -webkit-animation: _3JB_nVZ 1s infinite linear alternate;
            animation: _3JB_nVZ 1s infinite linear alternate;
}

._4DCoius .GdLF9TD i {
    width: 6px;
    height: 6px;
}

._27g6-bg .GdLF9TD i {
    width: 14px;
    height: 14px;
}

.GdLF9TD i:nth-child(1) {
    left: 0;
    top: 0;
}

.GdLF9TD i:nth-child(2) {
    right: 0;
    top: 0;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

.GdLF9TD i:nth-child(3) {
    left: 0;
    bottom: 0;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

.GdLF9TD i:nth-child(4) {
    right: 0;
    bottom: 0;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

@-webkit-keyframes _3JB_nVZ {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes _3JB_nVZ {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

._34yuQ8a {
    text-align: center;
    color: rgb(58, 152, 224);
}
.JFq5c57{
    position: relative;
    transition: all 0.3s ease-in-out;
}
._1lx5ldT{
    opacity: 0.7;
}
._5RIH6gP{
    position: relative;
}
.NgKIaqD{
    position: absolute;
    z-index: 10;
    /*width: 100%;
    height: 100%;*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
._1T4KvTd ._1eXipps:hover {
            & ._2ybR3b2 {
                opacity: 1;
            }
            & ._2J85Uln {
                background-color: #f6f8fc;
            }
}
._1T4KvTd ._1eXipps ._2_yDpt3 {
            line-height: 0;
            font-size: 12px;
            position: absolute;
            width: 100%;
            bottom: 0px;
}
._1T4KvTd ._1eXipps ._3QRKPKW {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 16px;
            width: 100%;
            display: inline-block;
}
._1T4KvTd ._1eXipps ._2J85Uln {
            line-height: 24px;
            padding: 0 12px 0 4px;
            transition: background-color .3s;

            & ._24TbhBI {
                position: absolute;
                top: 5px;
                color: #979797;
            }
}
._2Twh1vh ._1eXipps ._2J85Uln ._22-bkn7 {
                -webkit-animation: _3OEZtoX;
                        animation: _3OEZtoX;
                -webkit-animation-duration: 0.3s;
                        animation-duration: 0.3s;
}
._2Twh1vh ._1eXipps ._2J85Uln .ZKHzGHY {
                line-height: 93px;
                text-align: center;
}
._2Twh1vh ._1eXipps ._2J85Uln ._3QRKPKW {
                display: none;
}
._2Twh1vh ._1eXipps ._2_yDpt3 {
            width: 93px;
            bottom: 20px;
}
._2Twh1vh ._1eXipps:hover ._2J85Uln:before {
            transition: opacity .3s;
            opacity: 1;
}
._2Twh1vh ._1eXipps ._2ybR3b2, ._2Twh1vh ._1eXipps ._9WTFNuF {
            position: static;
            cursor: pointer;
            color: #ffffff;
            margin: 0 12px;
}
._2Twh1vh ._1eXipps ._2J85Uln:hover + ._2P942Vl,
        ._2Twh1vh ._1eXipps ._2P942Vl:hover {
            opacity: 1;
}
._2Twh1vh ._2J85Uln:before {
        content: ' ';
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        transition: all .3s;
        width: 100%;
        height: 100%;
        opacity: 0;
}
._2Twh1vh ._2P942Vl {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 10;
        white-space: nowrap;
        opacity: 0;
        transition: all .3s;
}
._2Twh1vh ._2NbhlMb {
        color: #fe3824;
        border-color: #f04134;
}
._2Twh1vh ._1eXipps {
        float: left;
        width: 111px;
        height: 111px;
        margin: 0 8px 8px 0;

        padding: 8px;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        position: relative;
}
._2Twh1vh ._1eXipps ._2J85Uln {
            height: 100%;
            padding: 0;
            position: relative;
            /*上传中*/
            /*缩略图*/
}
._2Twh1vh ._1eXipps ._2J85Uln ._3KL1tor {
                width: 100%;
                height: 100%;
                position: static;
                top: 8px;
                left: 8px;
}
._2Twh1vh ._1eXipps ._2J85Uln ._3KL1tor img {
                    overflow: hidden;
                    border-radius: 4px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: static;
                    border-style: none;
}
._2Twh1vh:after {
        clear: both;
}
._3cdU4Gy._3AJKo9_ {
        -webkit-transform: scale(0);
                transform: scale(0);
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
}
._3cdU4Gy:active {
        border-color: rgb(13, 125, 212);
        color: rgb(13, 125, 212);
}
._3cdU4Gy:hover {
        border-color: rgb(100, 175, 232);
        color: rgb(100, 175, 232);
}
._3cdU4Gy > .upload-disabled {
        cursor: not-allowed;
}
._1T4KvTd .urzQQm5 {
}
._1T4KvTd ._2NbhlMb {
        color: #fe3824;
}
._1T4KvTd ._3HyKmSB {
}
._1T4KvTd ._1e_xEp9 {
}
._1T4KvTd ._1eXipps {
        overflow: hidden;
        margin-top: 8px;
        font-size: 12px;
        position: relative;
        height: 24px;
}
._1T4KvTd ._1eXipps ._2ybR3b2 {
            position: absolute;
            top: 6px;
            right: 4px;
            opacity: 0;
            cursor: pointer;
}
._2hnxqb5 ._2gnaQ5o {
}
._2hnxqb5 ._1YHKpYP {
        display: inline-block;
}/**
 * Upload Style
 * @author heifade
 */


._2hnxqb5 {
}


._2hnxqb5, ._2hnxqb5 *, ._2hnxqb5 *:after, ._2hnxqb5 *:before {
        box-sizing: border-box;
}

._1T4KvTd {
}

._1T4KvTd *, ._1T4KvTd *:after, ._1T4KvTd *:before {
        box-sizing: border-box;
}

@-webkit-keyframes _3OEZtoX {
    0% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        opacity: 0.3;
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes _3OEZtoX {
    0% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
        opacity: 0.3;
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

._3cdU4Gy {
    width: 111px;
    height: 111px;
    border-radius: 4px;
    background-color: #f5f5f5;
    border: 1px dashed #999999;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    display: inline-block;
    vertical-align: top;
    color: #666666;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s
}

._3cdU4Gy > .upload {
        width: 100%;
        height: 100%;
        display: block;
}


._2Twh1vh{
    display: inline
}


._2Twh1vh, ._2Twh1vh *, ._2Twh1vh *:after, ._2Twh1vh *:before {
        box-sizing: border-box;
}






/**
 * Tabs Style
 * @author yan
 */

.rc-tabs {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    /*color: var(--brand-primary-light);*/
}
.rc-tabs:after,.rc-tabs:before {
    content: " ";
    display: table;
}
.rc-tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    box-sizing: border-box;
    height: 2px;
    background-color: rgb(100, 175, 232);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}
.rc-tabs-bar {
    border-bottom:solid 1px #ccc;
    margin-bottom: 16px;
    outline: none;
}

.rc-tabs-nav-container {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: -1px;
    /*.clearfix;*/

    /*& > .rc-tabs-nav-container-scrolling {
      padding-left: 32px;
      padding-right: 32px;
    }*/
  }
  .rc-tabs-nav-container:after, .rc-tabs-nav-container:before{
        content: " ";
        display: table;
  }

  .rc-tabs-nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
  }
    .rc-tabs-nav-scroll {
    overflow: hidden;
    white-space: nowrap;
  }

  .rc-tabs-nav {
    box-sizing: border-box;
    padding-left: 0;
    transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    margin: 0;
    list-style: none;
    float: left;
}
.rc-tabs-nav:after, .rc-tabs-nav:before{
        content: " ";
        display: table;
  }
  .rc-tabs-nav:after{
      clear: both;
  }
  .rc-tabs-nav .rc-tabs-tab-disabled {
      pointer-events: none;
      cursor: default;
      color: #ccc;
    }
     .rc-tabs-nav .rc-tabs-tab {
      display: inline-block;
      height: 100%;
      margin-right: 24px;
      box-sizing: border-box;
      position: relative;

      padding: 8px 20px;
      transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
      cursor: pointer;
      text-decoration: none;
    }
    .rc-tabs-nav .rc-tabs-tab:hover {
        color: rgb(100, 175, 232);
    }

    .rc-tabs-nav .rc-tabs-tab:active {
        color: rgb(100, 175, 232);
    }
    .rc-tabs-nav .rc-tabs-tab-active {
        color: rgb(100, 175, 232);
    }

    .rc-tabs-small .rc-tabs-nav-container {
        font-size: 12px;
    }

    .rc-tabs-small .rc-tabs-tab {
        margin-right: 0;
        padding: 8px 16px;
    }

    

    .rc-tabs:not(.rc-tabs-vertical) .rc-tabs-content{
        width: 100%;
    }

    .rc-tabs:not(.rc-tabs-vertical) .rc-tabs-tabpane {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        width: 100%;
        transition: opacity .45s;
        opacity: 1;
    }

    .rc-tabs:not(.rc-tabs-vertical) .rc-tabs-tabpane-inactive {
        opacity: 0;
        height: 0;
        padding: 0!important;
        pointer-events: none;
    }

    .rc-tabs:not(.rc-tabs-vertical) .rc-tabs-content-animated {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      will-change: margin-left;
      /*transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);*/
    }

    .rc-tabs-button .rc-tabs-bar{
        border: 0;
    }

    .rc-tabs-button .rc-tabs-tab:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
    }


    .rc-tabs-vertical .rc-tabs-bar {
        border-bottom: 0;
        height: 100%;
        float: left;
        border-right: 1px solid #e9e9e9;
        margin-right: -1px;
        margin-bottom: 0;
    }

    .rc-tabs-vertical .rc-tabs-tab {
        float: none;
        margin-right: 0;
        margin-bottom: 16px;
        display: block;
        padding: 8px 24px;
    }
    .rc-tabs-vertical .rc-tabs-tab:last-child {
        margin-bottom: 0;
    }
    .rc-tabs-vertical .rc-tabs-nav-scroll {
        width: auto;
    }

    .rc-tabs-vertical .rc-tabs-nav-container,.rc-tabs-vertical .rc-tabs-nav-wrap {
        height: 100%;
    }
    .rc-tabs-vertical .rc-tabs-nav-container {
        margin-bottom: 0;
    }

    .rc-tabs-vertical .rc-tabs-nav-container-scrolling{
          padding: 32px 0;
        }
    
    .rc-tabs-vertical .rc-tabs-nav-container-scrolling{
        padding: 32px 0;
    }

    .rc-tabs-vertical .rc-tabs-nav-wrap{
        margin-bottom: 0;
    }

    .rc-tabs-vertical .rc-tabs-ink-bar {
        width: 2px;
        left: auto;
        height: auto;
        top: 0;
        right: 0;
      }
    

    .rc-tabs-vertical .rc-tabs-content{
        overflow: hidden;
        width: auto;
        margin-top: 0!important;
        padding-left: 24px;
        border-left: 1px solid #e9e9e9;
    }

    .rc-tabs-no-animation, 
    .rc-tabs-vertical .rc-tabs-content-animated{
        -webkit-transform: none !important;
                transform: none !important;
         margin-left: 0 !important;
    }
    .rc-tabs-vertical .rc-tabs-tabpane-inactive{
        display: none;
    }


    .rc-tabs-top .rc-tabs-ink-bar-animated,
    .rc-tabs-bottom .rc-tabs-ink-bar-animated {
        transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    }
    .rc-tabs-vertical .rc-tabs-ink-bar-animated,
    .rc-tabs-vertical .rc-tabs-ink-bar-animated {
        transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    }


    /*card*/
   .rc-tabs-card > .rc-tabs-bar .rc-tabs-nav-container {
        height: 32px;
    }
    .rc-tabs-card > .rc-tabs-bar .rc-tabs-ink-bar {
        visibility: hidden;
    }

    .rc-tabs-card > .rc-tabs-bar .rc-tabs-tab {
        margin: 0;
        border: 1px solid #d9d9d9;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
        background:#f9f9f9;
        margin-right: 2px;
    }
    .rc-tabs-card > .rc-tabs-bar .rc-tabs-tab {
        padding: 5px 16px 4px;
        transition: transform .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    }

    .rc-tabs-card > .rc-tabs-bar .rc-tabs-tab-active {
        background: #fff;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        /*border-color: #d9d9d9;*/
        color: rgb(100, 175, 232);
        padding-bottom: 5px;
    }
