/**
 * Steps Style
 * @author grootfish
 */
:root {
  --inactive-color: #CECECE;
}

.steps {
  width: 100%;
  line-height: 1.5;
}

.steps--item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.steps--item:last-child .steps--tail {
  display: none;
}

.steps__horizontal .steps--head {
  padding-left: 10px;
  margin-left: -10px;
}
.steps--tail {
  position: absolute;
  left: 0;
  width: 100%;
  top: 12px;
  &>i{
    display: inline-block;
    vertical-align: top;
    background: #e9e9e9;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      top: 0;
      width: 0;
      background: #e9e9e9;
      height: 100%;
      opacity: 0;
    }
  }
}


.steps--head {
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.steps--headinner {
  display: block;
  border: 1px solid var(--inactive-color);
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 22px;
  font-size: 14px;
  margin-right: 6px;
}

.steps--icon {
  line-height: 1;
  color: var(--brand-primary);
  position: relative;
}

.steps--title {
  font-size: 14px;
  color: var(--text-color-dark);
  font-weight: 700;
  background-color: #fff;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 5px;
}

.steps--description {
  font-size: 12px;
  color: var(--text-color-dark);
}

.steps--main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5px;
}

/*未开始状态样式*/
.steps--item__wait{
  & .steps--title{
    color: var(--inactive-color);
  }
  & .steps--description{
    color: var(--inactive-color);
  }
  & .steps--headinner{
    border-color: var(--inactive-color);
      background-color: #fff;
      &>.steps--icon{
        color: var(--inactive-color);
      }
  }
} 

/*进行中状态样式*/
.steps--item__process{
  & .steps--title{
    color: var(--text-color-dark);
  }
  & .steps--description{
    color: var(--text-color-dark);
  }
  & .steps--headinner{
          border-color: var(--brand-primary);
    background-color: var(--brand-primary);
    &>.steps--icon{
      color:var(--neutral-color);
    }
  }
}

/*完成状态样式*/
.steps--item__finish {
  & .steps--title {
    color: var(--text-color);
  }
  & .steps--description {
    color: var(--text-color);
  }
  & .steps--headinner {
    border-color: var(--brand-primary);
    background-color: #fff;
    &>.steps--icon {
    color: var(--brand-primary);
  }
  }
  & .steps--tail>i:after {
    width: 100%;
    background: var(--brand-primary);
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 1;
    box-shadow: 0 0 0 0 var(--brand-primary);
  }

}


/*TODO*/
.steps--item__error {}
.steps--step {}

.steps__small{
    & .steps--headinner {
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 18px;
    font-size: 12px;
  }
  &.steps__vertical .steps--tail {
    position: absolute;
    left: 10px;
  }
}

/*竖向步骤条样式*/
.steps__vertical{
  & .steps--item {
    display: block;
  }

  & .steps--tail {
    position: absolute;
    left: 12px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 20px 0 4px;
    &>i{
      height: 100%;
    width: 1px;
    }
  }

  & .steps--head {
    float: left;
  }
  & .steps--main {
    min-height: 72px;
    overflow: hidden;
    display: block;
  }
}
