/**
 * DatePicker Style
 * @author ryan.bian
 */
.datePicker {}

/* picker*/
.datePicker__picker {
  padding: 15px;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

/* date pane */
.datePicker_PaneHead {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.datePicker__headControlBtn {
  background-color: var(--neutral-color);
  border: 0 none;
  color: var(--brand-primary);
  &:hover {
    color: var(--brand-primary-dark);
  }
}
.datePicker__headJump {
  display: inline-block;
  width: 180px;
}
.datePicker__headJumpBtn {
  margin: 0 5px;
  background-color: var(--neutral-color);
  border: 0 none;
  font-size: 16px;
  &:hover {
    color: var(--brand-primary-dark);
  }
}
.grid {
  text-align: center;
}
.titleGrid {
  composes: grid;
}
.bodyGrid {
  composes: grid;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--text-color-dark);
  &:hover {
    background-color: var(--brand-primary-lightest);
    color: var(--neutral-color);
    border-color: var(--brand-primary-lighter);
    transform: translateZ(0);
  }
  &:active {
    background-color: var(--brand-primary-dark);
    color: var(--neutral-color);
    border-color: var(--brand-primary);
  }
}
.datePicker__datePane {
  width: 306px;
}
.datePicker__datePaneHead {
  composes: datePicker_PaneHead;
}

.datePicker_weekTitle {
}
.datePicker__weekTitleGrid {
  composes: titleGrid;
  display: inline-block;
  width: 39px;
  color: var(--text-color-light);
  line-height: 3;
}
.datePicker__weekRow {
  margin-bottom: -1px;
  &:last-child {
    margin-bottom: 0;
  }
}
.datePicker__dayGrid {
  composes: bodyGrid;
  margin-left: -1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  &:first-child {
    margin-left: 0;
  }
}
.datePicker__dayGrid--range {
  background-color: var(--brand-primary-lightest);
  color: var(--brand-primary);
  border-color: var(--brand-primary-lighter);
  transform: translateZ(0);
}
.datePicker__dayGrid--active {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
  color: var(--neutral-color);
  transform: translateZ(0);
}
.datePicker__dayGrid--disabled {
  color: var(--text-color-light);
  cursor: not-allowed;
  text-decoration: line-through;
  &:hover {
    background-color: var(--neutral-color);
    color: var(--text-color-light);
    border-color: var(--border-color);
    transform: none;
  }
  &:active {
    background-color: var(--neutral-color);
    color: var(--text-color-light);
    border-color: var(--border-color);
  }
}
.datePicker__dayGrid--curMonth {
}
.datePicker__dayGrid--lastMonth, .datePicker__dayGrid--nextMonth {
  color: var(--text-color-light);
}

/* monthPane */
.datePicker__monthPane {
  width: 246px;
}
.datePicker__monthPaneHead {
  composes: datePicker_PaneHead;
}
.datePicker__monthBody {
  margin-top: 12px;
  white-space: normal;
}
.datePicker__monthGrid {
  composes: bodyGrid;
  margin-left: -1px;
  margin-bottom: -1px;
  width: 72px;
  height: 40px;
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
}
.datePicker__monthGrid--active {
  composes: datePicker__dayGrid--active;
}

/* yearPane */
.datePicker__yearPane {
  width: 246px;
}
.datePicker__yearPaneHead {
  composes: datePicker_PaneHead;
}
.datePicker__yearBody {
  margin-top: 12px;
  white-space: normal;
}
.datePicker__yearGrid {
  composes: bodyGrid;
  margin-left: -1px;
  margin-bottom: -1px;
  width: 72px;
  height: 40px;
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
}
.datePicker__yearGrid--active {
  composes: datePicker__dayGrid--active;
}
.datePicker__yearGrid--jump {
  color: #999;
}

/* decadePane */
.datePicker__decadePane {
  width: 306px;
}
.datePicker__decadePaneHead {
  composes: datePicker_PaneHead;
}
.datePicker__decadePane--current {
  font-size: 16px;
}
.datePicker__decadeBody {
  margin-top: 12px;
  white-space: normal;
}
.datePicker__decadeGrid {
  composes: bodyGrid;
  margin-left: -1px;
  margin-bottom: -1px;
  width: 92px;
  height: 40px;
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
}
.datePicker__decadeGrid--jump {
  color: #999;
}
.datePicker__decadeGrid--active {
  composes: datePicker__dayGrid--active;
}

/* rangePicker */
.rangePicker {
  background: #fff;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 3px;
  white-space: nowrap;
  & .datePicker__picker {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
    box-shadow: none;
  }
  & .datePicker__datePane,
  & .datePicker__monthPane,
  & .datePicker__yearPane,
  & .datePicker__decadePane {
    width: 306px;
    height: 322px;
  }

  & .datePicker__monthGrid,
  & .datePicker__yearGrid,
  & .datePicker__decadeGrid {
    width: 92px;
    height: 65px;
  }
}
.rangePicker__picker {
  & .datePicker__picker {
    border: 0 none;
  }
}
.rangePicker__quickSelect {
  padding: 0 15px 10px;
  border-bottom: 1px solid var(--border-color);
  & button {
    margin-right: 10px;
  }
}
.rangePicker__action {
  padding: 12px 0;
  text-align: center;
  & button {
    margin: 0 20px;
    width: 180px;
  }
}
.picker--start {
}
.picker--end {
}