/**
 * DatePicker Style
 * @author ryan.bian
 */
@import '../../styles/theme.css';

.datePicker {}

/* picker*/
.datePicker__picker {
  width: 240px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #aaa;
}

/* date pane */
.dateGrid {
  width: 28px;
  height: 28px;
  background: none;
  border: 0 none;
}
.dateGrid--inactive {
  color: #999;
}
.datePicker__datePane {}
.datePicker__datePaneHead {

}

.datePicker_weekTitle {
}
.datePicker__weekTitleGrid {
  composes: dateGrid;
  display: inline-block;
}
.datePicker__weekRow {

}
.datePicker__dayGrid {
  composes: dateGrid;
  cursor: pointer;
}
.datePicker__dayGrid--range {
  background-color: rgba(119, 192, 238, .4);
}
.datePicker__dayGrid--active {
  background: brand-primary;
  color: #fff;
}
.datePicker__dayGrid--disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.datePicker__dayGrid--curMonth {
}
.datePicker__dayGrid--lastMonth, .datePicker__dayGrid--nextMonth {
  composes: dateGrid--inactive;
}

/* monthPane */
.datePicker__monthPane {
  
}
.datePicker__monthPaneHead {

}
.datePicker__monthGrid {}
.datePicker__monthGrid--active {
  background: brand-primary;
  color: #fff;
}

/* yearPane */
.datePicker__yearPane {

}
.datePicker__yearPaneHead {

}
.datePicker__yearGrid {
  
}
.datePicker__yearGrid--active {
  background: brand-primary;
  color: #fff;
}
.datePicker__yearGrid--jump {
  color: #999;
}

/* decadePane */
.datePicker__decadePane {

}
.datePicker__decadeGrid {

}
.datePicker__decadeGrid--jump {
  color: #999;
}
.datePicker__decadeGrid--active {
  background: brand-primary;
  color: #fff;
}