.Component__wrap {

}
.Component__meta {

}
.Component__demoCode {
  border-top:solid 1px  var(--border-color);
  padding-top: 20px;
  & pre {
    margin: 0;
  }
}
.meta__tag {
  margin-right: 10px;
  display: inline-flex;
  padding: 0 4px;
  height: 24px;
  border: 1px solid var(--border-color);
  align-items: center;
  border-radius: 5px;
}
.meta__tag:hover {
  & svg {
    fill: var(--link-color);
  }
  & a {
    color: var(--link-color);
  }
}
.meta__tag svg {
}
.meta__tag > a {
  margin-left: 6px;
  color: #999;
}
.meta__tag > a:hover {
  text-decoration: none;
}
.Component__demoBox {
}
.Component__doc {}

.Component__code {
  position: relative;
}

.Component__copy {
  position: relative;
  height: 80px;
  & > i{
    display: inline-block;
    position: absolute;
    right: 14px;
    bottom: 22px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    transition: all .3s;
    color: #999;
    background: #fff;
    user-select: none;
    border-radius: 100%;
    border: 1px solid var(--brand-primary-light);
    color: var(--brand-primary-light);
  }
  & > i:hover{
    color: var(--brand-primary);
    border-color: var(--brand-primary);
  }
  & > i.show_demo:after{
    font-style: normal;
    display: block;
    content: "▼";
  }
  & > i.show_demo.active:after{
    content: "▲";
  }
}