.Component__wrap {}

.Component__meta {}

.Component__demoCode {
  & pre {
    margin: 0;
  }
}

.meta__tag {
  margin-right: 10px;
  display: inline-flex;
  padding: 0 4px;
  height: 24px;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  align-items: center;
  border-radius: 5px;
}

.meta__tag:hover {
  & svg {
    fill: var(--link-color);
  }
  & a {
    color: var(--link-color);
  }
}

.meta__tag svg {}

.meta__tag > a {
  margin-left: 6px;
  color: #999;
}

.meta__tag > a:hover {
  text-decoration: none;
}

.Component__doc {}

.Component__demo {
  background-color: var(--neutral-color);
}
.Component__demoHead {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > h3 {
    font-size: 18px;
    line-height: 2.5;
    color: var(--text-color);
  }
  & svg {
    margin: 0 4px;
    cursor: pointer;
    fill: var(--text-color);
    &:hover {
      fill: var(--brand-primary);
    }
  }
}
.Component__demoBox {
  padding: 20px 0;
}

.Component__copy {
  position: relative;
  height: 80px;
}

.Component__demoCode {
  position: relative;
  & > span {
    display: none;
    position: absolute;
    right: 14px;
    top: 36px;
    cursor: pointer;
    transition: all .3s;
  }
  & svg {
    fill: var(--brand-primary-light);
  }
}

.Component__demoCode:hover {
  & > span {
    display: block;
  }
  & svg {
    fill: var(--brand-primary);
  }
}