.PlayGround__Pane {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -2px 0 4px 0 rgba(0, 0, 0, .14);
  animation-duration: 0.625s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.PlayGround__Pane--entering {
  animation-name: slideInRight;
  transform: translate3d(0, 0, 0);
}
.PlayGround__Pane--entered {
  transform: translate3d(0, 0, 0);
}
.PlayGround__Pane--exiting {
  animation-name: slideOutRight;
  transform: translate3d(100%, 0, 0);
}
.PlayGround__Pane--exited {
  transform: translate3d(100%, 0, 0);
}
@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%,0,0)
  }
}

.PlayGround__Editor {
  flex: 1;
}
.PlayGround__Preview {
  flex: 1;
  padding: 10px;
  background-color: #fff;
}
.PlayGround__ErrorMsg {
  position: absolute;
  top: 50%;
  padding: 0 8px;
  width: 100%;
  background-color: #f2777a;
  border-bottom: 1px solid #ef5b5f;
  line-height: 2;
  font-size: 13px;
  color: #fff;
  z-index: 9;
}
.PlayGround__Trigger {
  position: absolute;
  left: -40px;
  top: 100px;
  width: 40px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 16px 0 0 16px;
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  text-align: left;

  & > svg {
    fill: #ccc;
  }
  &:hover {
    & > svg {
      fill: var(--brand-primary);
    }
  }
}