/**
 * Message Style
 * @author grootfish
 */

@value theme: '../../styles/theme.css';
@value brand-primary from theme;
.message--box {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
}

.message {
    padding: 7px 20px 7px 10px;
    border-radius: 3px 3px;
    box-shadow: 0 0 10px #999;
    border: 1px solid #999;
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    display: block;
    width: auto;
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    margin: 10px 0;
}

.message--content {}
.message--info{
    color:blue;
}
.message--success{
    color:green;
}
.message--error{
    color:red;
}
.message--warning{
    color:yellow;
}
