/**
 * Message Style
 * @author grootfish
 */
:root{
    --message-info-bg:#E8F6FF;
    --message-success-bg:#F5FFE9;
    --message-error-bg:#FFEBE8;
    --message-warning-bg:#FFFAE8;
}

.message--box {
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 50%;
    transform:translate(-50%,0);
    pointer-events: none;
}

.message {
    padding: 14px 24px;
    border-radius: 3px 3px;
    box-shadow: 0 0 10px #999;
    border: 1px solid #999;
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    display: block;
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;
}
.message--content{
    display:inline-block;
        vertical-align: middle;
        font-size:14px;
}
.message--icon{
    display:inline-block;
    margin-right:14px;
    margin-left:1px;
    vertical-align: middle;
}
.message__info{
    color:var(--link-color);
    background-color:var(--message-info-bg);
    box-shadow: 0 0 1px var(--link-color);
}
.message__success{
    color:var(--success-color);
    background-color:var(--message-success-bg);
    box-shadow: 0 0 1px var(--success-color);
}
.message__error{
    color:var(--fail-color);
    background-color:var(--message-error-bg);
    box-shadow: 0 0 1px var(--fail-color);
}
.message__warning{
    color:var(--warn-color);
    background-color:var(--message-warning-bg);
    box-shadow: 0 0 1px var(--warn-color);
}
